<%= render 'admin/layouts/navigation' %>

<h1 align="center"> Welcome, admin </h1>

<div align="center">
  <% @rooms.each do |room|%>
      <% room.images.limit(1).each do |image|%>
      <% if image %>
        <%= link_to image_tag(room.images_as_thumbnails(image)), image %>
      <% end %>
      <%end%>
  <% end %>
</div>