<%= render 'admin/layouts/navigation' %>

<h1 align="center">Редактирование комнаты</h1>
<%= render 'form_edit', room: @room %>
<div align="center">
  <%= link_to "К списку комнат", admin_rooms_url %>
</div>