<%= render 'layouts/navigation' %>

<h1 align="center">Список броней</h1>
<div id="bookings">
  <% @bookings.each do |booking| %>
    <%= render booking %>
    <p>
      <%= link_to "Show", booking %>
    </p>
  <% end %>
</div>

<%= link_to "Создать бронь", new_booking_path %>