<%= render @booking %>

<p>
  <%= link_to "Изменить бронь", edit_booking_path(@booking) %> |
  <%= link_to "К списку комнат", rooms_path %>
  <%= button_to "Удалить бронь", @booking, method: :delete %>
</p>