<div id="room">
  <p>
    <strong>Name:</strong>
    <%= room.room_name %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= room.short_description %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <% unless @room.nil? %>
      <%= link_to image_tag(room.images_as_thumbnails(room.images.last)), room.images.last %>
    <% end %>
  </p>

</div>