<%= render 'layouts/navigation' %>

<h1 align="center">Список отзывов</h1>
<div class="review-form" align="center">
  <%= render 'form' %>
</div>
<% @reviews.each do |review| %>
  <div class="row" align="center">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
          <% if review.published %>
            <%= render review %>
          <% end %>
        <br>
      </div>
    </div>
  </div>
<% end %>