<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Rooms", rooms_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Reviews", reviews_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Sign in", 'users/sign_in', class: "navbar-brand", id: "logo" %>
  </div>
</nav>